{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        {% block content %}
            <div class="container" id="container">
                <div class="form-container sign-in-container">
                    <form method="post">
                        {% csrf_token %}
                        <h1>Forgot Password</h1><br><br>
                        <span>or use your account</span>
                        <input type="email" name="email" placeholder="Email" />
                        <button>Send Reset Link</button>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-right">
                            <h1>No Worry!</h1>
                            <p>Enter your email for password reset link and you are back again</p>
                            <small>or</small>
                            <p>Remember password now? <a href="#" style="color: white; size: 20px; text-decoration: underline">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    </body>
</html>

