{% extends 'base_core.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"><img style="width: 35px;" src="{% static 'media/pyyur_logo.png' %}"> <b> <b> </b>Fyyur</b></h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Artist</a>
        <a class="nav-link" href="#">Show</a>
        <a class="nav-link" href="#">Venue</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Fyyur is with friend!</h1>
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard, has been the industry's standard. has been the industry's standard</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Get Started</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Fyyur<a href="https://google.com/" class="text-white"></a>, 2021</p>
  </footer>
</div>

{% endblock %}