{% extends 'base_core.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container-fluid">
  {% include "_header.html" %}


  <main class="flex-shrink-0">
  <div class="container" style="width: 60%">
    <h1 class="mt-5">Fyyur is not Lorem dummy</h1>
    <p class="lead mt-4">Lorem Ipsum is simply dummy text of the printing
      and typesetting industry.
      Lorem Ipsum has been the industry's standard, has
      been the industry's standard. has been the industry's standard</p>
    <p>Here <a href="#">All you need to get started with Fyyur</a> if need be.</p>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">

    <span class="text-muted"><p>Fyyur <a href="https://fyyur.com/" class="text-white"></a>&copy; 2021</p></span>
  </div>
</footer>

</div>
{% endblock %}